<!doctype html>
<html lang="en" >
  <head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body style="overflow-x: hidden">
      
      <style>
          
          body {
              /*background-image: url(../static/cool-background2.png);*/
              background-color: #EDEDEF;
          }
          
      </style>
      
      
      <div class="container-fluid mt-2">
          <h1>Registration Confirmation</h1>
          <h4>Please print or save now, you will not be able to access this page later</h4>
          <hr class="bg-dark rounded" style="height: 7px;">
          <div class="row">
              
                  <ul class="list-group ml-4 mr-4 mt-3 mb-3 text-dark" style="width: 100%;">
                      <li class="list-group-item active">YIWH Groups Registration Card - {{date}}</li>
                      <li class="list-group-item">{{grp}}</li>
                      <li class="list-group-item">Child: {{child}}</li>
                      <li class="list-group-item">Parent: {{parent}}</li>
                      <li class="list-group-item">ID #: {{id}}</li>
                    </ul>

          </div>
      
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/d8440dd275.js" crossorigin="anonymous"></script>
      
  </body>
    
</html>
