<!doctype html>
<html lang="en" >
  <head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body style="overflow-x: hidden">
      
      <style>
      
          body {
        background-color: #eee;
      }
      input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        background-color: #eee;
      }
      
      .no-outline:focus {
        outline: none;
      }
          .divy {
    border: 1px solid black;
    width: 70px;
    white-space:nowrap;
    overflow:hidden;
}

      </style>
      
      
      <div class="container-fluid mt-2">
          
          <h1>YIWH Groups - Admin Control Center</h1>
          <hr class="bg-dark rounded" style="height: 7px;">
          <div class="row">
              
              <div class="border border-dark ml-5 mr-5 mt-3 rounded divy" style="width: 100%">
                  
                  <span class="badge badge-primary">Primary</span>
                  <span class="badge badge-primary">Primary</span>
                  <span class="badge badge-primary">Primary</span>
                  <span class="badge badge-primary">Primary</span>
                  <span class="badge badge-primary">Primary</span>
                  <span class="badge badge-primary">Primary</span>
              
                  <input class="border-0 no-outline" style="height: 98%; width: 100%;">
                  
              </div>
              
          </div>
      
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/d8440dd275.js" crossorigin="anonymous"></script>
      
  </body>
    
</html>
